In [1]:
import pandas as pd
import pandas_datareader as pdr

In [2]:
import pandas as pd
data_url = 'http://bit.ly/2cLzoxH'
# read data from url as pandas dataframe
gapminder = pd.read_csv(data_url)
print(gapminder.head(3))

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710

In [3]:
gapminder.continent == 'Africa'

0       False
1       False
2       False
3       False
4       False
        ...
1699     True
1700     True
1701     True
1702     True
1703     True
Name: continent, Length: 1704, dtype: bool

In [4]:
gapminder[gapminder.continent == 'Africa']

       country  year         pop continent  lifeExp    gdpPercap
24     Algeria  1952   9279525.0    Africa   43.077  2449.008185
25     Algeria  1957  10270856.0    Africa   45.685  3013.976023
26     Algeria  1962  11000948.0    Africa   48.303  2550.816880
27     Algeria  1967  12760499.0    Africa   51.407  3246.991771
28     Algeria  1972  14760787.0    Africa   54.518  4182.663766
...        ...   ...         ...       ...      ...          ...
1699  Zimbabwe  1987   9216418.0    Africa   62.351   706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377   693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[624 rows x 6 columns]

In [5]:
gapminder[gapminder.continent == 'Africa'].shape

(624, 6)

In [6]:
gapminder.query('continent =="Africa"')

       country  year         pop continent  lifeExp    gdpPercap
24     Algeria  1952   9279525.0    Africa   43.077  2449.008185
25     Algeria  1957  10270856.0    Africa   45.685  3013.976023
26     Algeria  1962  11000948.0    Africa   48.303  2550.816880
27     Algeria  1967  12760499.0    Africa   51.407  3246.991771
28     Algeria  1972  14760787.0    Africa   54.518  4182.663766
...        ...   ...         ...       ...      ...          ...
1699  Zimbabwe  1987   9216418.0    Africa   62.351   706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377   693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809   792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989   672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487   469.709298

[624 rows x 6 columns]

In [7]:
df1 = gapminder[gapminder.continent == 'Africa']
df2 = gapminder.query('continent =="Africa"')
df1.equals(df2)

True

Third way to drop rows using a condition on column values is to use drop() function. This is a round about way and one first need to get the index numbers or index names. And then we can use drop function.

In [8]:
df = gapminder[gapminder.continent == 'Africa']
print(df.index)

Int64Index([  24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
            ...
            1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703],
           dtype='int64', length=624)

Empty DataFrame
Columns: [country, year, pop, continent, lifeExp, gdpPercap]
Index: []

In [10]:
df.drop(df.index)

Empty DataFrame
Columns: [country, year, pop, continent, lifeExp, gdpPercap]
Index: []