# Tutorial 16 - `pandas_datareader`

The purpose of this short tutorial is to introduce the `pandas_datareader` package. It is a convenient way to download a variety of online data sources such as Yahoo Finance, Quandl, and the Federal Reserve (FRED).

This functionality used to be part of `pandas.io` submodule of `pandas` but now lives inside a separate package.

### Loading Packages

Let's begin by loading the packages that we will need.

In [1]:
import pandas as pd
import pandas_datareader as pdr

### Yahoo Finance

The function for retrieving data from Yahoo is `pdr.get_data_yahoo()`.

The following code retrieves `SPY` data from 2014-2018.

In [5]:
df_spy = pdr.get_data_yahoo('AAPL', start='2019-01-01', end='2019-12-01')
df_spy.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-01-02,158.850006,154.229996,154.889999,157.919998,37039700.0,155.582367
2019-01-03,145.720001,142.000000,143.979996,142.190002,91312200.0,140.085220
2019-01-04,148.550003,143.800003,144.529999,148.259995,58607100.0,146.065353
2019-01-07,148.830002,145.899994,148.699997,147.929993,54777800.0,145.740265
2019-01-08,151.820007,148.520004,149.559998,150.750000,41025300.0,148.518509

The following code retrieves VIX data from 2014-2018.

In [3]:
df_vix = pdr.get_data_yahoo('^VIX', start='2014-01-01', end='2019-01-01')
df_vix.head()

             High    Low   Open  Close  Volume  Adj Close
Date
2014-01-02  14.59  14.00  14.32  14.23       0      14.23
2014-01-03  14.22  13.57  14.06  13.76       0      13.76
2014-01-06  14.00  13.22  13.41  13.55       0      13.55
2014-01-07  13.28  12.16  12.38  12.92       0      12.92
2014-01-08  13.24  12.86  13.04  12.87       0      12.87

**Code Challenge:** Grab the 2018 prices for `XLF`.

### Federal Reserve (FRED)

The function for retrieving data from FRED is `pdr.get_data_fred()`.

This code grabs the VXN index (a VIX-like calculation for the Nasdaq 100) for 2014-2018.

In [11]:
df_vxn = pdr.get_data_fred('VXNCLS', start='2019-01-01', end='2019-12-12')
df_vxn

            VXNCLS
DATE
2019-01-01     NaN
2019-01-02   30.09
2019-01-03   32.18
2019-01-04   28.57
2019-01-07   28.53
...            ...
2019-12-06   16.44
2019-12-09   18.15
2019-12-10   18.02
2019-12-11   17.41
2019-12-12   16.55

[248 rows x 1 columns]

### Further Reading

At the moment, there isn't a lot of great documentation about `pandas_datareader`.  

Here is a link to the [offical docs](https://pydata.github.io/pandas-datareader/stable/), which aren't the best.

In [52]:
import os
from datetime import datetime
import pandas_datareader.data as web

In [53]:
os.environ['ALPHAVANTAGE_API_KEY'] = 'MUOT1BPLVAMSCTC9'

In [54]:
from datetime import datetime

In [55]:
f = web.DataReader("C", "av-daily", start=datetime(2019, 10, 1),
                   end=datetime(2019, 12, 15))

In [56]:
print(f)

             open     high      low  close    volume
2019-10-01  69.57  70.2700  68.0100  68.15  12470801
2019-10-02  67.76  67.8000  66.1900  66.26  15108007
2019-10-03  66.08  66.7300  64.7900  66.70  12652097
2019-10-04  66.76  68.2400  66.6650  68.18  11022955
2019-10-07  67.87  68.8400  67.8650  68.15   7840722
2019-10-08  67.03  67.1800  66.0250  66.40  13511469
2019-10-09  67.00  67.7700  66.7900  67.43   8376836
2019-10-10  67.77  69.2900  67.5500  68.62   9917189
2019-10-11  69.99  70.9300  69.9900  70.10  14925207
2019-10-14  69.53  70.4950  69.4600  70.24  11482654
2019-10-15  70.17  72.0800  68.7000  71.22  22038223
2019-10-16  70.82  71.4600  69.4200  69.50  17355830
2019-10-17  70.03  70.3400  69.1800  69.60  11385190
2019-10-18  69.32  70.0900  69.1400  69.74  10413594
2019-10-21  70.52  71.8900  70.5200  71.81  13105335
2019-10-22  71.72  72.8700  71.4700  72.06  11059553
2019-10-23  71.90  72.4700  71.7300  72.45  10327917
2019-10-24  72.55  72.8600  71.8600  72.30   7465458
2019-10-25  71.97  73.4200  71.8100  73.17  10496131
2019-10-28  73.73  74.2800  73.4447  73.59  13086766
2019-10-29  73.14  73.7900  72.7200  73.09   9590594
2019-10-30  72.75  73.3530  72.1000  72.97  12430390
2019-10-31  72.36  72.9700  71.3300  71.86  16862300
2019-11-01  72.25  73.9900  72.1000  73.84  12934278
2019-11-04  74.94  75.2700  74.1100  75.15  12582950
2019-11-05  75.19  75.9700  74.6400  74.83  14399586
2019-11-06  74.42  75.0500  73.9700  74.42  12628015
2019-11-07  75.41  76.2800  75.4100  75.81  14332050
2019-11-08  75.48  76.1200  75.0550  76.12   7927066
2019-11-11  75.45  76.0800  75.2400  75.60   6019364
2019-11-12  75.55  75.9600  75.0100  75.07  11066332
2019-11-13  74.25  74.9100  73.7100  73.91  14055632
2019-11-14  73.61  74.0100  73.3300  73.84   9446780
2019-11-15  74.34  74.4600  73.6800  74.40  10293986
2019-11-18  74.29  74.6400  73.5600  74.40   8525582
2019-11-19  74.97  75.2400  74.4700  74.82   9094918
2019-11-20  74.63  74.7200  73.2200  73.91  12799672
2019-11-21  74.08  74.6300  73.5100  73.90   8584204
2019-11-22  74.10  74.9200  73.9700  74.87   7900612
2019-11-25  74.93  75.8500  74.8700  75.68  11497743
2019-11-26  75.84  75.8400  74.8200  75.46  11310865
2019-11-27  75.84  76.1300  75.5000  75.72   7591871
2019-11-29  75.43  75.7972  74.9900  75.12   6246876
2019-12-02  75.42  75.9300  74.4300  74.52  11083148
2019-12-03  73.38  73.4700  72.5000  73.33  13787648
2019-12-04  73.83  74.5900  73.4200  74.23   8266381
2019-12-05  74.65  74.8450  74.3500  74.71   9581191
2019-12-06  75.93  76.2200  75.6000  75.81   9877781
2019-12-09  75.18  75.9200  75.0795  75.33   8816696
2019-12-10  75.07  76.2700  74.8700  75.78  13019610
2019-12-11  76.12  76.2100  75.5000  75.55  10340931
2019-12-12  75.81  77.5200  75.6200  77.05  15828911
2019-12-13  77.05  77.8300  76.0600  76.39  13446971